.scroll-to-top {
    position: relative;
  }
  
  .btn-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
   
  }
  
  .btn-style {
    background-color: rgb(24, 183, 51);
    border: 2px solid  rgb(24, 183, 51);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: var( --color-hover);
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    font-size: 5npm i anchor-link0px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0.3;
    &:hover{
        opacity: 1;
    }
  }
  .btn-style:hover {
    animation: none;
    background: rgb(24, 183, 51);
    color: var( --color-hover);
    border: 1px solid var( --color-textParagraph);
    
  }
  
  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
}
  }