<section class="about ">
    
        <div class="container">
            <div class="about_block-title">
                <p class="about_text-paragraph">Про додатки</p>
                <h2 class="about_text-title">Хочу познайомити вас з такими платформами і дати невеличкий опис</h2>
               </div>
        <div class="about_block">
            <ul class="about_list">
            <li class="about_items">
                <img class="about_img" src="./images/taobao.png" alt="taobao">
                <h3 class="about_items-title">Таобао - <span class="about_span-color">淘宝</span></h3>
                <p class="about_items-text">Онлайн Інтернет-магазин, орієнтований для споживачів у КНР. Сайт працює за системою C2C, «Споживач для Споживача» — форма електронної торгівлі, яка полягає в продажі товарів і послуг між споживачами. У мережева крамниця Taobao виступає в ролі посередника між покупцем і продавцем.</p>
            </li>
            <li class="about_items">
                 <span class="pindodo_color"><img class="about_img"  src="./images/pindodo.png" alt="pinduoduo" background="white"></span>
                <h3 class="about_items-title"> Пиньдуодуо - <span class="about_span-color">拼多多</span></h3>
                <p class="about_items-text">Китайська компанія електронної комерції (один з найбільших маркетплейсів та онлайн-дискаунтерів світу). Заснована в 2015 році, штаб-квартира розташована в Шанхаї. Входить до найбільших громадських компаній країни (у рейтингу Forbes Global 2000 за 2022 рік посіла 582-е місце у світі). Засновник Pinduoduo Хуан Чжен (він Колін Хуан) входить до найбагатших мільярдерів Китаю.</p>
            </li>
            <li class="about_items">
                 <img class="about_img"  src="./images/alibaba.png" alt="alibaba">
                <h3 class="about_items-title">1688 - <span class="about_span-color">阿里巴巴</span></h3>
                <p class="about_items-text">1688 – це сайт, що схожий на Taobao, проте тут на товари є три ціни – чим більша партія одиниць товару, яку ви купуєте, тим, відповідно, менша ціна. Різниця між трьома цінами переважно теж досить велика: 20-30%.</p>
            </li>
            <li class="about_items">
                <img class="about_img" src="./images/poizon.png" alt="taobao">
                <h3 class="about_items-title">Пойзон - <span class="about_span-color">得物</span></h3>
                <p class="about_items-text">Китайський торговий майданчик, що спеціалізується на продажі оригінальних кросівок, одягу, колекційних речей і так далі. Це не зовсім інтернет-магазин у стандартному розумінні цього слова. Пойзон є більше посередником із комплексом послуг аналогічно американським платформам, таким як StockX та Goats, які вже довгий час популярні на ринку.</p>
            </li>
        </ul>
        </div>
        </div>
</section>