<section class="cargo container">
   <div class="cargo_box">
    <div class="cargo_fly-box">
        <h2 class="cargo_title">Авіадоставка з Китаю</h2>
        <ul class="cargo_list">
            <li class="cargo_items">
         - 10-17 днів з моменту вильоту
            </li>
            <li class="cargo_items">
         - 5 разів на тиждень (Пн, Вт, Ср, Чт, Пт)</li>
        </ul>
        
    </div>
    <div class="cargo_img-box">
        <img class="cargo_img"  src="./images/fly.jpg" alt="fly">
    </div>
   </div>
   <div class="cargo_box">
    <div class="cargo_fly-box">
        <h2 class="cargo_title">Морем з Китаю</h2>
        <ul class="cargo_list">
            <li class="cargo_items">
         - 10-17 днів з моменту вильоту
            </li>
            <li class="cargo_items">
         - 2 рази на тиждень ( Ср, Нд)</li>
            <li class="cargo_items">
         - Без брендових товарів</li>
        </ul>
        
    </div>
    <div class="cargo_img-box">
        <img class="cargo_img"  src="./images/board.jpg" alt="fly">
    </div>
   </div>
</section>