<footer class="footer">
    <div class="footer_box">
        <div class="footer_box-text">
            <h2 class="footer_title">Олена Войцешко</h2>
            <p class="footer_text">Буду рада співпраці</p>
        </div>
      
        <div class="footer_box-nav">
            <p class="footer_text-link">Мої соціальні мережі</p>
            <ul class="footer_nav-list">
                <li class="footer_nav-items">
                    <a class="footer_nav-link" href= "https://t.me/Lena_Voitseshko" target="_blank" rel="nofollow noopener noreferrer" width="20px" height="20px">
                        <svg class="footer_icon" width="20px" heigth="20px">
                            <use href="./images/favicon/sprite.svg#icon-telegram">
        
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer_nav-items"> 
                <a class="footer_nav-link" href="https://www.instagram.com/lena.voitseshko/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==" target="_blank" rel="nofollow noopener noreferrer">
                     <svg class="footer_icon" width="20px" heigth="20px">
                        <use href="./images/favicon/sprite.svg#icon-instagram">
    
                    </use>
                </svg>
                </a>
            </li>
            </ul>
            
        </div>
        <div class="footer_nav-wechat">
            <p class="footer_text"> Miй Wechat</p>
            <img class="footer_img-wechat" src="./images/wechatQr-code.jpg" alt="wechat" width="200px" height="200px">
        </div>
    </div>
</footer>