<header id="header" class="nav_header ">
    <div class="nav_block container">
        <div class="header_logo">
                <img class="nav_img" src="./images/logo.png" alt="" width="10px" height="10px">    
        </div>
        
        <div class="nav_container">
            <nav class="nav">
                <ul class="nav_list">
                    <a class="cargo_button-fly" href="#header">
                        <li>Головна</li>
                    <a class="cargo_button-fly" href="#about">
                        <li>Додатки</li>
                    </a>
                    <a class="cargo_button-fly" href="#servises">
                        <li>Посилуги</li>
                    </a>
                    <a class="cargo_button-fly" href="#footer">
                        <li>Контакти</li>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
  
</header>