<div class="menu-wrap">
    <img class="mob_img" src="./images/logo.png" alt="">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="#header">Головна</a></li>
            <li><a href="#about">Додатки</a></li>
            <li><a href="#servises">Посилуги</a></li>
            <li><a href="#footer">Контакти</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>